.container_news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-update-button{
    position: absolute;
    right: 10px;
    top:10px;
}

.new{
    width: 60vw;
}

.container_pagination, .container_comments{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment{
    width: 60vw;
}

.back-button{
    position: absolute;
    left: 10px;
    top:10px;
}